utils/*
4_classes/*
7_classes/*
8_classes/*
11_classes/*
shared_utils/*
__pycache__/
*/__pycache__/*
*.egg-info
dist/
build/
logs/
*.log
logs/
*.pb
*.7z
*.zip
*.jpg
*.JPG
saved_models/variables/*
AZURE_STORAGE
via_ann.json
*/viaJson.json
*/viaJsonFile.json
datasets/local_data/enap_dataset/*
.vscode/*
trainings/*
notebooks/.ipynb_checkpoints/*
test.csv
train.csv
val.csv
*viaJsonFile*
*/via_export_json.json